.content .row .data-wrap .input-wrap {
  align-items: center;
  font-size: 1.6rem;
}
.content .row .data-wrap .input-wrap label {
  margin-right: 14px;
}
.content .row .data-wrap .input-wrap .input-group {
  width: 200px;
}
.content .row .data-wrap .input-wrap input,
.content .row .data-wrap .input-wrap select {
  color: #333;
  font-size: 1.4rem;
}
input::placeholder,
select::placeholder {
  color: var(--secondary-2-color);
}
select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--secondary-2-color);
  border-radius: 0.8rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.content .row .data-wrap:nth-child(3) span.input-box {
  min-height: 25.2px;
  width: 84px;
  padding: 0.8rem;
  border: 1px solid var(--secondary-2-color);
  border-radius: 0.8rem;
  color: var(--secondary-2-color);
  line-height: 25.2px;
}
.content .row3 #reason-wrap {
  display: block;
  width: 100%;
}
.content .row3 #reason-wrap .input-wrap {
  align-items: flex-start;
}
.content .row3 #reason-wrap .input-wrap label {
  margin-top: 1rem;
}
.content .row3 #reason-wrap textarea.large {
  height: 150px;
  resize: none;
  padding: 0.8rem;
}