/* 헤더 */
.wrapper .content-header .application-date-wrap {
  font-size: 1.4rem;
  color: var(--secondary-2-color);
}
.wrapper .content-header .application-date-wrap .application-date {
  margin-left: 4rem;
  margin-right: 2rem;
}

/* 컨텐츠 영역 */
.content .row {
  padding: 20px 24px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-2-color);
  box-sizing: border-box;
}
.content .row .data-wrap span:first-child,
.content .row .data-wrap label {
  display: inline-block;
  width: 72px;
  margin-right: 28px;
  padding: 0;
  color: #8d96a1;
}
.content .row .data-wrap:nth-child(3) span:last-child {
  width: 78px;
  text-align: center;
}
.content .row .data-wrap span:last-child {
  font-size: 1.4rem;
}
.content .row3 {
  align-items: flex-start;
  height: 20rem;
}
.content .row3 .data-wrap {
  width: 100%;
}
