.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal .modal__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal .modal__content {
  background-color: white;
  width: 534px;
  height: 216px;
  padding: 24px;
  position: relative;
  top: 0px;
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-size: 1.6rem;
}

.modal .modal__content .modal__header-container {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.modal .modal__content .material-icons__primary {
  color: var(--primary-color);
}
.modal .modal__content .material-icons__success {
  color: var(--point-1-color);
}
.modal .modal__content .material-icons__warning {
  color: var(--warning-color);
}

.modal .modal__content h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 16px;
}

.modal .modal__content .modal__message {
  flex-grow: 1;
  padding-top: 8px;
  padding-left: 40px;
}

.modal .modal__content .modal__btn-container {
  align-self: flex-end;
}
.modal .modal__content .modal__btn-container .btn {
  border: none;
  border-radius: 8px;
  width: 58px;
  height: 36px;
}
.modal .modal__content .modal__btn-container .btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn--primary__confirm {
  background-color: var(--primary-color);
  color: #ffffff;
}
.btn--primary__cancel {
  background-color: var(--secondary-1-color);
  color: #333;
}
.btn--success__confirm {
  background-color: var(--point-1-color);
  color: #ffffff;
}
.btn--warning__confirm {
  background-color: var(--warning-color);
  color: #ffffff;
}
.btn--warning__cancel {
  background-color: #faeaeb;
  color: #ff7979;
}
